.containerform{
    width: 75%;
    margin: auto;
}
.mainHeading{
    color: #A076F9;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactp{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formcontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.formheading{
    color: #A076F9;
}
.contactform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

