.container{
    width: 70%;
    margin: auto;
    min-height: 92vh;
    box-sizing: border-box;
    padding: 4vmax;
}

.container>form{
    display: flex;
    flex-direction: column;
    gap: 20px;


}

input,textarea,button{
    padding: 15px;
    border: 1px solid black;
}

.submit{
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: #A076F9;
  cursor: pointer;
}
.submit:hover{
    background-color: #68B984;
}
.container>h1{
    text-align: center;
    margin: 20px;
    color: #A076F9;
    text-transform: uppercase;
}